.input-group {
  position: relative;
  display: flex;
  max-width: 600px;
}
.input-group .icon-clear {
  position: absolute;
  top: 50%;
  right: 65px;
  padding-right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #a5a5a5;
  transition: color 0.3s ease;
}
.input-group .icon-clear:hover {
  color: #363636;
}
